.summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.summary-button {
  color: var(--color-neutral-lavender);
  background-color: var(--color-neutral-gray-blue);
  border-radius: var(--border-radius-container);
  border: none;
  width: 75%;
  height: 10%;
}

.summary-button:hover {
  background-color: var(--color-gradient-slate-blue);
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.list-item svg {
  width: 1rem;
  height: auto;
}
