.summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  flex: 1;
}

.summary-section h2 {
  text-align: left;
  align-self: flex-start;
}

.summary-button {
  color: var(--color-neutral-lavender);
  background-color: var(--color-neutral-gray-blue);
  border-radius: var(--border-radius-container);
  border: none;
  width: 100%;
  height: 10%;
}

.summary-button:hover {
  background-color: var(--color-gradient-slate-blue);
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list-item svg {
  width: 1rem;
  height: auto;
}
