.summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2.5rem;
  flex: 1;
}

.summary-section h2 {
  text-align: left;
  align-self: flex-start;
}

.summary-button {
  color: var(--color-neutral-pale-blue);
  background-color: var(--color-neutral-gray-blue);
  font-weight: var(--font-weight-bold);
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 45px;
  border: none;
  width: 100%;
  height: 3rem;
}

.summary-button:hover {
  background: linear-gradient(
    to top,
    var(--color-gradient-violet-blue),
    var(--color-gradient-slate-blue)
  );
  color: var(--color-neutral-white);
}

.summary-category {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.75rem;
}

.summary-category:last-of-type {
  margin-bottom: 2rem;
}

.summary-category img {
  margin: 0 0.5rem;
  width: 1.75rem;
  height: auto;
}

.summary-category div:last-of-type {
  margin-right: 1rem;
}

.summary-category-user-score {
  margin-right: 0.2rem;
  color: var(--color-neutral-gray-blue);
  font-weight: var(--font-weight-xbold);
}

.summary-category-possible-score {
  color: var(--color-neutral-gray-blue);
}

.summary-category.reaction {
  color: var(--color-primary-red);
  background-color: hsl(0, 100%, 67%, 0.25);
  border-radius: var(--border-radius-container);
}

.summary-category.memory {
  color: var(--color-primary-yellow);
  background-color: hsl(39, 100%, 56%, 0.25);
  border-radius: var(--border-radius-container);
}

.summary-category.verbal {
  color: var(--color-primary-teal);
  background-color: hsl(166, 100%, 37%, 0.25);
  border-radius: var(--border-radius-container);
}

.summary-category.visual {
  color: var(--color-primary-blue);
  background-color: hsl(234, 85%, 45%, 0.25);
  border-radius: var(--border-radius-container);
}
