.card {
  display: flex;
  margin: auto;
  max-width: 40vw;
  border-radius: var(--border-radius-container);
  box-shadow: 8px 8px 25px 10px var(--color-neutral-lavender);
}

@media screen and (max-width: 375px) {
  .card {
    max-width: 100%;
    flex-direction: column;
    box-shadow: none;
  }
}
