.result-section {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    var(--color-gradient-slate-blue),
    var(--color-gradient-royal-blue)
  );
  border-radius: var(--border-radius-container);
  flex: 1;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0.75rem;
  height: 125px;
  width: 125px;
  background: linear-gradient(
    var(--color-gradient-violet-blue),
    var(--color-gradient-slate-blue)
  );
  border-radius: var(--border-radius-circle);
}

.result-header {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

.results-text {
  margin: 0;
  padding: 0;
}

.result-score {
  color: var(--color-neutral-white);
  font-size: 3rem;
}

.result-of-100 {
  color: var(--color-neutral-lavender);
}

.result-descriptor {
  margin-top: 0.85rem;
  color: var(--color-neutral-white);
}

.result-comparison {
  margin: 0;
  padding: 1rem 4rem;
  text-align: center;
  color: var(--color-neutral-lavender);
}

.font-lavender {
  color: var(--color-neutral-lavender);
}
