:root {
  font-family: Hanken Grotesk, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-weight-nrml: font-weight()

  --color-primary-red: hsl(0, 100%, 67%);
  --color-primary-yellow: hsl(39, 100%, 56%);
  --color-primary-teal: hsl(166, 100%, 37%);
  --color-primary-blue: hsl(234, 85%, 45%);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-pale-blue: hsl(221, 100%, 96%);
  --color-neutral-lavender: hsl(241, 100%, 89%);
  --color-neutral-gray-blue: hsl(224, 30%, 27%);

  --color-gradient-slate-blue: hsl(252, 100%, 67%);
  --color-gradient-royal-blue: hsl(241, 81%, 54%);
  --color-gradient-violet-blue: hsla(256, 72%, 46%, 1);
  --color-gradient-persian-blue: hsla(241, 72%, 46%, 0);
};
